td{
	//border: 1px #000 solid;
	text-align: center;
}
.gm_num2{
	width: inherit;
	height: 70px;
	margin: 5px;
	border-radius: 4px;
	font-size: 40px;
	text-align: center;
}
.gm_num{
	width: 70px;
	height: 70px;
	margin: 5px;
	border-radius: 4px;
	font-size: 40px;
	text-align: center;
	padding-top: 5px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
}
.gm_num:active{
	transform: scale(1.05);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.gm_selected:active{
	box-shadow: 0 2px 5px 0 #ff0000;
}
.gm_blue{	
	background-color: #4aa3df;
	border-bottom: 4px #2980b9 solid;
	color: #f5f5f5;
}
.gm_red{	
	background-color: #e74c3c;
	border-bottom: 4px #c0392b solid;
	color: #f5f5f5;
}
.gm_green{	
	background-color: #2ecc71;
	border-bottom: 4px #27ae60 solid;
	color: #f5f5f5;
}
.gm_orange{	
	background-color: #e67e22;
	border-bottom: 4px #d35400 solid;
	color: #f5f5f5;
}
.gm_yellow{	
	background-color: #f1c40f;
	border-bottom: 4px #f39c12 solid;
	color: #f5f5f5;
}
.gm_purple{	
	background-color: #9b59b6;
	border-bottom: 4px #8e44ad solid;
	color: #f5f5f5;
}
.gm_asphalt{	
	background-color: #34495e;
	border-bottom: 4px #2c3e50 solid;
	color: #f5f5f5;
}
.gm_turq{	
	background-color: #1abc9c;
	border-bottom: 4px #16a085 solid;
	color: #f5f5f5;
}
.gm_grey{	
	background-color: #95a5a6;
	border-bottom: 4px #7f8c8d solid;
	color: #f5f5f5;
}

#gm_life1,#gm_life2,#gm_life3,#gm_life4,#gm_life5{
	width: 15px;
	height: 15px;
	color: #f5f5f5;
	border-radius: 50%;
	margin: 5px;
}
.gm_life{	
	background-color: #1abc9c;
	border-bottom: 2px #16a085 solid;
}
.gm_dead{	
	background-color: #e74c3c;
	border-bottom: 2px #c0392b solid;
}

#gm_life_m table{float: right;margin-bottom: 5px;}
#gm_score{margin-right: 5px;font-size: 40px;text-align: right;}