/*div{border: 1px #eee solid;}*/
html{
  height: 100%;
}
body {
  min-height: 100%;
  //background: #4caf50;
  background-color: #DFDFDF;
	background-image: linear-gradient(to bottom, #DDDBD1, #D2DBDC);
	//background-image: url("../img/city.jpg");	
   // background-size: cover;
}
.rblock{
	background-color: #fafafa;
	border-radius: 2px;
	margin: 10px;
	padding: 10px
}
.shad{
	/*box-shadow: 1px 1px 3px #dddddd;*/
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.mainbar{
	background-color: #4caf50;
	vertical-align: center;
}
.mainbar::before {
    position: absolute;
    z-index: 0;
    background-color: #388e3c;
    width: 100%;
    height: 127px;
    content: "";
    animation: 0.2s cubic-bezier(0.1, 0.82, 0.25, 1) 0s normal none 1 running bar-slide;
    top: 0px;
    left: 0px;
}
.mainbar::after {
    position: absolute;
    z-index: -1;
    background-color: #009688;
    width: 100%;
    height: 127px;
    content: "";
    animation: 0.2s cubic-bezier(0.1, 0.82, 0.25, 1) 0s normal none 1 running bar-slide;
    bottom: 0px;
    left: 0px;
}
.grey{
	/*background-color: #fafafa;*/
	padding-top: 30px;
}
.content:before {
  
}

.content {}

#nametext{
	text-align: center;
	margin: 20px;
	// set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#nametext.sticky {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  text-align: left;
  padding-left: 20px;
	top: 0;
}
#nametext #iname{
	font-family: 'Slabo 27px', serif;
	font-size: 35px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #658668;
}
.inmain img{
	border-radius: 50%;
	box-shadow: 2px 2px 2px #658668;
}
.smallimg{
	width: 100px; height: 100px;
}
.rblockhead{
	font-style: bold;
}
.rblockbody{
	color: #2E6E60;
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
}
.rblockbody span{
	text-align: center;
}
.rblockbody table{margin: auto; text-align: left;}
.rblockbody td{padding: 20px}
.trans{
	background-color: transparent;
border-color: transparent;
}
.greenback{
	background-color: #4caf50;
}
#navcont img{
	border-radius: 50%; width: 50px; height: 50px;
	margin: 10px;
	box-shadow: 2px 2px 2px #658668;
	
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

#navcont,#fclub,#iage{
	font-family: 'Slabo 27px', serif;
	font-size: 24px;
	color: #ffffff;
	// set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#card3, #card2, #card4{
	max-height: 100px;
	overflow: hidden;
}
.titlecont{
	overflow: auto;
}
.titlecont .rblockhead{
	float: left;
}
.titlecont img{ float: right}
.fill { 
    min-height: 100%;
    height: 100%;
}

.cinfo{
	margin-bottom: 10px;
}

.cinfo img{
	vertical-align: text-bottom;
	width: 18px;
	height: 18px;
}

.circle{
	border-radius: 50%;
}
.text36{ font-size: 36px;}
.text18{font-size: 18px;}
hr{border: 1px #f5f5f5 solid;}
@media only screen and (max-width: 1250px) {
    #nametext img{
		// set animation
	    -webkit-transition: all 0.4s ease;
	    transition: all 0.4s ease;
		width: 100px;
		height: 100px;
	}
}